* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.check {
  height: 120px;
  width: 120px;
  background: red;
}
.header {
  border-bottom: 1px solid #0f1f38;
  padding: 10px;
  background: #fff;
}
.header p {
  margin: 0;
  font-size: 24px;
  color: #0f1f38;
}
.footer {
  border-top: 1px solid #0f1f38;
  padding: 10px;
  background: #fff;
  text-align: center;
}
.footer p {
  margin: 0;
  font-size: 14px;
  color: #0f1f38;
}

.headDesign {
  text-align: center;
  margin: 10px 0 40px;
}
.imgStyle {
  width: 120px;
}
.nameTitle {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color: #0f1f38;
}
.timeStyle {
  margin: 5px 0px;
  color: #0f1f38;
}
.timeText {
  margin-left: 5px;
  color: #0f1f38;
  text-decoration: none;
}
.fa {
  color: #0f1f38;
}

.button {
  background-color: #fff;

  border: 1px solid #0f1f38;
  color: #0f1f38;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  margin-left: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.linkDiv {
  text-align: right;
}
 
summary {
  color: #2471a3;
  text-decoration: underline;
  cursor: pointer;
}
::marker {
  color: #2471a3;
  font-size: 1.2em;
}
.list {
  /* text-align: left; */
  font-size: 12px;
  color: #0f1f38;
}
.middleDiv {
  margin-bottom: 10px;
}
.dateStyle {
  font-size: 60px;
}

/*======================== new css end========================== */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #0f1f38;
  top: calc(50% - 16px);
  /* top: 15px; */
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  /* top: 22px; */
  top: calc(50% - 10px);
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  /* top: 22px; */
  top: calc(50% - 10px);
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 12px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.contentDetailSide {
  border-right: 2px solid #0f1f38;
  padding: 0 20px;
}
.contentDetailSide h2 {
  font-size: 17px;
  margin: 10px 0;
  color: #0f1f38;
}
.contentTimeSide {
  /* max-width: 60px; */
  margin: 0 20px;
  font-size: 18px;
  /* line-height: 2; */
  text-align: center;
  color: #0f1f38;
}

.contentTimeSide p {
  font-size: 22px;
  margin: 0 0 8px 0;

  text-align: center;
}
.contentTimeSide h4 {
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 8px 0;

  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .timeline {
    max-width: 960px;
  }
  .contentDetailSide h2 {
    font-size: 14px;
  }
  .timeText {
    font-size: 12px;
  }
  .button {
    font-size: 12px;
  }
  .contentTimeSide p {
    font-size: 18px;
  }
  .contentTimeSide h4 {
    font-size: 50px;
  }
  .linkDiv {
    font-size: 12px;
  }
  .middleDiv {
    margin-bottom: 3px;
  }
  .contentDetailSide hr {
    margin-bottom: 3px;
  }
  .nameTitle {
    font-size: 25px;
  }
  .timeStyle {
    font-size: 14px;
    margin: 0;
  }
  .headDesign {
    margin: 10px 0 25px;
  }
  .contentTimeSide p {
    font-size: 15px;
  }
  .contentTimeSide h4 {
    font-size: 40px;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
